<!-- //blogs/blogs -->
<% layout("/layouts/boilerplate") %>

<head>
  <link rel="stylesheet" href="../../public/css/blogs.css" />
</head>
<body>
  <div class="blogPost">
    <% blogData.forEach(blog => { %>
    <div class="blog-container">
      <a href="/blogs/<%= blog._id %>" class="singleBlog">
        <div class="blogProfile">
          <img
            src="../../public/images/<%= blog.profileImage %>"
            alt="ProfileImage"
            class="ProfileImage"
          />
          <h5 class="authorName"><%= blog.authorName %></h5>
        </div>
        
        <div class="blog-header">
          <h6 class="blog-title"><%= blog.title %></h6>
          <p class="blog-meta">
            Posted on <%= blog.date %>
          </p>
        </div>
      </a>
    </div>
    <% }) %>
  </div>

  <!-- <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav> -->

</body>
