<% layout("/layouts/boilerplate") %>
<head>
  <link rel="stylesheet" href="../../public/css/edit.ejs" />
</head>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <br /><br />
      <h3 class="text-center">Edit your Blog</h3>
      <form
        method="POST"
        action="/blogs/<%= blog._id %>?_method=PUT"
        class="form needs-validation"
        novalidate
        enctype="multipart/form-data"
      >
        <div class="mb-1">
          <label for="subject" class="form-label"><b>Subject</b></label>
          <textarea name="blog[subject]" class="form-control" required value=""><%= blog.subject %>
           </textarea
          >
        </div>
        <br />
        <div class="mb-1">
          <label for="title" class="form-label"><b>Title</b></label>
          <input
            type="text"
            class="form-control"
            name="blog[title]"
            value="<%= blog.title %>"
            required
          />
        </div>
        <br />
        <div class="row d-flex">
          <div class="mb-1 col-6">
            <label for="date" class="form-label"><b>Date</b></label>
            <input
              type="date"
              name="blog[date]"
              class="form-control"
              value="<%= new Date(Date.now()).toISOString().split('T')[0] %>"
              required disabled
            />
          </div>
          <div class="col-6">
            <label for="authorName" class="form-label">
              <b>Author Name</b>
            </label>
            <input
              type="text"
              name="blog[authorName]"
              class="form-control"
              value="<%= blog.authorName %>"
              disabled
            />
          </div>
        </div>
        <br />
        <div class="mb-1">
          <label class="form-label" for="content"><b>Content</b></label><br>
          <textarea
            class="form-control"
            id="content"
            value=""
            style="height: 100px"
          ><%= blog.content %>
          </textarea>
        </div>

        <div class="text-center">
          <button class="btn btn-success mb-3 mt-3 edit-btn mx-auto editnSave">
            Edit & Save
          </button>
        </div>
      </form>
    </div>
  </div>
</body>
