<!-- //blogs/index.ejs -->

<% layout("/layouts/boilerplate") %>
<head>
  <link rel="stylesheet" href="../../public/css/blogs.css" />
</head>
<body>
  <div class="blogPost">
    <% Allblogs.forEach(blog => { %>
    <div class="blog-container">
      <a href="/blogs/<%= blog._id %>" class="singleBlog">
        <div class="blogProfile">
          <h5 class="authorName text-black"><%= blog.author %></h5>
        </div>
        <div class="blog-header">
          <h6 class="blog-title"><%= blog.title %></h6>
          <p class="blog-meta">Posted on <%= blog.date %></p>
        </div>
      </a>

      <!-- <div class="blog-icons mt-0 mx-3">
        <span>
          <i class="fa-regular fa-heart like-icon"></i> <%= blog.likes %>
        </span>
        <span>
          <i class="fa-regular fa-thumbs-down dislike-icon"></i>
          <%= blog.dislikes %>
        </span>
      </div> -->
    </div>
    <% }) %>
  </div>

  
</body>
