<!-- /blogs/show.ejs -->

<% layout("/layouts/boilerplate") %>

<head>
  <title><%= blog.title %></title>
  <link rel="stylesheet" href="../../public/css/show.css" />
</head>

<body>
  <div class="container1">
    <div class="blogPost">
      <div class="blog-container">
        <div class="blogProfile">
          <h3><%= blog.owner.username %>@123</h3>
          <h5 class=""><%= blog.subject %></h5>
        </div>
        <div class="blog-header">
          <h6 class="blog-title"><%= blog.title %></h6>
          <p class="blog-meta">
            Posted on <%= blog.date %> by <%= blog.author %>
          </p>
        </div>
        <div class="blog-content">
          <p><%= blog.content %></p>
        </div>

        <% if(currUser && currUser._id.equals(blog.owner._id)) { %>
        <div class="buttons mt-3" role="group">
          <a href="/blogs/<%= blog._id %>/edit" class="btn btn-primary editBtn">
            Edit
          </a>
          <form method="POST" action="/blogs/<%= blog._id %>?_method=DELETE" >
            <button class="btn btn-danger deleteBtn">Delete</button>
          </form>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</body>
