<% layout("/layouts/boilerplate") %>

<head>
  <title><%= blog.title %></title>
  <link rel="stylesheet" href="../../public/css/show.css" />
</head>

<body>
  <div class="container1">
    <div class="blogPost">
      <div class="blog-container">
        <div class="blogProfile">
          <img
            src="../../public/images/<%= blog.profileImage %>"
            alt="ProfileImage"
            class="img-fluid rounded-circle blogProfile"
          />
          <h4 class=""><%= blog.subject %></h4>
        </div>
        <div class="blog-header">
          <h5 class="blog-title"><%= blog.title %></h5>
          <p class="blog-meta">
            Posted on <%= blog.date %> by <%= blog.authorName %>
          </p>
        </div>
        <div class="blog-content">
          <p><%= blog.content %></p>
        </div>
        <% if(currUser) { %>
        <div class="buttons mt-3" role="group">
          <a href="/blogs/<%= blog._id %>/edit">
            <button type="button" class="btn btn-primary editBtn">Edit</button>
          </a>
          <a href="/blogs/<%= blog._id %>/delete">
            <button type="button" class="btn btn-danger deleteBtn">
              Delete
            </button>
          </a>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</body>
